.progress-bar {
    width: 100%;
    height: 12px; /* Adjust height as needed */
    border-radius: 5px;
    background-color: #e0e0e0; /* Background color for the progress bar */
  
    /* Ensure the divs inside are displayed inline-block to align horizontally */
    display: flex;
    overflow: hidden; /* Hide overflow content */
  }
  
  .progress-bar-segment {
    height: 100%;
    display: inline-block;
  }
  
  .segment-1 {
    width: 80%;
    background-color: #4caf50; /* Green color for the first segment */
  }
  
  .segment-2 {
    width: 30%;
    background-color: #ff9800; /* Orange color for the second segment */
  }
  
  .segment-3 {
    width: 20%;
    background-color: #f44336; /* Red color for the third segment */
  }
  